<% content_for :javascript_in_head do %>
  <script>
      $(document).ready(function () {
          $('#clubs').dataTable({
                  "stateSave": true,
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', {
                          extend: 'csvHtml5',
                          title: 'Clubs'
                      }, {
                          extend: 'excelHtml5',
                          title: 'Clubs'
                      }, {
                          extend: 'pdfHtml5',
                          title: 'Clubs'
                      }, {
                          extend: 'print',
                          title: 'Clubs'
                      }
                  ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [[1, 'asc']],
                  "aoColumns": [
                      {"bSortable": false},
                      null,
                      null,
                      null,
                      null,
                      {"bSortable": false},
                      {"bSortable": false},
                      {"bSortable": false},
                      {"bSortable": false},
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#clubs').data('source')
              }
          );
      });
  </script>
<% end %>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding-left: 5px;
    }
</style>

<h1>Listing Clubs</h1>

<table id="clubs" data-source="<%= clubs_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <th/>

    <% Club::COLUMN_NAMES.keys.each do |column_name| %>
      <!--      TODO FILTERS-->
      <th><%= column_name %></th>
    <% end %>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
