<% content_for :javascript_code do %>
  <script>
      $(document).ready(function () {
          $('#seasons').DataTable({
                  "stateSave": true,
              dom: 'Bfrtip',
              buttons: [
                  'copy', {
                      extend: 'csvHtml5',
                      title: 'Seasons'
                  }, {
                      extend: 'excelHtml5',
                      title: 'Seasons'
                  }, {
                      extend: 'pdfHtml5',
                      title: 'Seasons'
                  }, {
                      extend: 'print',
                      title: 'Seasons'
                  }
              ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [[1, 'asc']],
                  "aoColumns": [
                      null,
                      null,
                      {"bSortable": false}
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#seasons').data('source')
              }
          );
      });
  </script>
<% end %>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding-left: 5px;
    }
</style>

<h1>Listing Seasons</h1>

<table id="seasons" data-source="<%= seasons_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <th>Ba</th>
    <th>Name</th>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Season', new_season_path %>
