= form_for(@discipline) do |f|
  - if @discipline.errors.any?
    #error_explanation
      h2
        = pluralize(@discipline.errors.count, "error")
        |  prohibited this discipline from being saved:
      ul
        - @discipline.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :name
    br
    = f.text_field :name
  .field
    = f.label :table_kind
    br
    = f.select :table_kind_id, options_for_select(["select", nil] + TableKind.all.map{|tk| [tk.name, tk.id]})
  .actions
    = f.submit
