<%- content_for :javascript_code do -%>
  <script>
      $(document).ready(function () {
          $('#seedings').DataTable({
                  "stateSave": true,
              dom: 'Bfrtip',
              buttons: [
                  'copy', {
                      extend: 'csvHtml5',
                      title: 'Seedings'
                  }, {
                      extend: 'excelHtml5',
                      title: 'Seedings'
                  }, {
                      extend: 'pdfHtml5',
                      title: 'Seedings'
                  }, {
                      extend: 'print',
                      title: 'Seedings'
                  }
              ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [
                      [0, "asc"]
                  ],
                  "aoColumns": [
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      {"bSortable": false},
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#seedings').data('source')
              }
          );
      });
  </script>
<%- end -%>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding: 2px;
    }
</style>

<h1>Listing Seedings</h1>

<table id="seedings" data-source="<%= seedings_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <%- Seeding::COLUMN_NAMES.keys.each do |column_name| %>
      <th><%= column_name %></th>
    <%- end %>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Seeding', new_seeding_path %>
