---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/associations/public-show?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Thüringer Billard-Verband e.V.","short_name":"TBV","public_page":"landesverband-thueringen","contact_email":"info@billard-verband-thueringen.de","impressum":"<p><strong>Thüringer
        Billard-Verband e.V.<\/strong><br>\r\nAn der Trifft 5<br>\r\n36460 Kieselbach<br>\r\nTelefon:
        036963 – 234 72 Büro<br>\r\nE-Mail: <a href=\"mailto:praesident@tbv-billard.de\">praesident@tbv-billard.de<\/a><br>\r\nWeb:
        <a href=\"https:\/\/tbv-billard.de\">https:\/\/tbv-billard.de<\/a><br>\r\nWeitere
        Seite: <a href=\"https:\/\/billard-thueringen.de\">https:\/\/billard-thueringen.de<\/a><\/p>\r\n\r\n<p>Registergericht:
        Amtsgericht Erfurt<br>\r\nVereinsregisternummer: VR 160364<\/p>\r\n\r\n<p><strong>Inhaltlich
        Verantwortlich für die Webseite ist der Vorstand des Thüringer Billard-Verbandes:<\/strong><\/p>\r\n<ul>\r\n  <li>Karl-Heinz
        Möder (Präsident)<\/li>\r\n  <li>Jonas Schröter (Vizepräsident Sport und Verwaltung)<\/li>\r\n  <li>Gerhard
        Morgenroth (Vizepräsident Finanzen)<\/li>\r\n  <li>Ronny Rejke (Landesportwart
        Snooker)<\/li>\r\n  <li>Andre Lamert (Landesportwart Pool)<\/li>\r\n  <li>Tobias
        Bucher (Landesportwart Karambol)<\/li>\r\n  <li>Jens Schumann (Vorsitzender
        TBJ)<\/li>\r\n<\/ul>\r\n\r\n<p><strong>Haftungsausschluss – Disclaimer<\/strong><\/p>\r\n\r\n<p><strong>H[...]
