---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/clubs/public?association_id=1&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Vereine (öffentlich) erfolgreich abgerufen","data":{"data":[{"id":11,"association_id":1,"name":"1.
        BC BlackPool Eisenach e.V.","short_name":"","city":"Eisenach","logo":"club_11.jpg","address":"Goethestraße
        25","postal_code":"99817","email":"","web":"https://www.bc-black-pool-eisenach.de","asso_no":"1562"},{"id":3,"association_id":1,"name":"1.
        BC Heiligenstadt","short_name":"","city":"Heiligenstadt","logo":"club_3.jpg","address":"Tilmann-Riemenschneider-Str.
        4a","postal_code":"37308","email":"heiligenstadt-1.bc@tbv-billard.de","web":null,"asso_no":"1546"},{"id":4,"association_id":1,"name":"1.
        BC Neustadt (Orla)","short_name":"","city":"Neustadt an der Orla","logo":"club_4.jpg","address":"Mühlstraße
        20b","postal_code":"07806","email":"billardbernd@gmail.com",[...]
