---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/leagues?season_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":12,"association_id":1,"season_id":1,"name":"Dreiband Oberliga
        - Playoff","division":"","status":2,"discip_key":3,"discip_leg1":"{\"3band_2\":{\"_name\":\"Dreiband\",\"_disci_global_key\":\"3band\",\"multiplier\":1,\"ptsLimit\":25,\"inningLimit\":40,\"board\":\"\",\"description\":\"\"},\"3band_1\":{\"_name\":\"Dreiband\",\"_disci_global_key\":\"3band\",\"multiplier\":1,\"ptsLimit\":25,\"inningLimit\":40,\"board\":\"\",\"description\":\"\"}}","discip_leg2":"{\"3band_2\":{\"_name\":\"Dreiband\",\"_disci_global_key\":\"3band\",\"multiplier\":1,\"ptsLimit\":25,\"inningLimit\":40,\"board\":\"\",\"description\":\"\"},\"3band_1\":{\"_name\":\"Dreiband\",\"_disci_global_key\":\"3band\",\"multiplier\":1,\"ptsLimit\":25,\"inningLimit\":40,\"board\":\"\",\"description\":\"\"}}","notes":"","details":null,"created_by_user_id":null,"created_at":"2026-05-27
        14:33:59","updated_at":"2026-05-30 10:42:47","pts_win":2,"pts_draw":1,"pts_loss":0,"sort_index":0,"public_token":"55ff434e-59c8-11f1-8b53-2c4d54436ca5","season_name":"2025\/2026
        Karambol","season_start_date":"2025-07-01","season_end_date":"2026-06-30","game_type_id":3,"game_type_name":"Karambol","game_type_short":"Karambol","game_type_official_short":"kara","confirmed_teams_count":4,"total_teams_count":4},{"id":5,"association_id":1,"season_id":1,"name":"Mehrkampf
        Oberliga","division":"","status":2,"discip_key":3,"discip_leg1":"{\"libre_1\":{\"_name\":\"Freie
        Partie\",\"_disci_global_key\":\"libre\",\"multiplier\":1,\"ptsLimit\":200,\"inningLimit\":20,\"board\":\"1\",\"description\":\"\"},\"cadre352_1\":{\"_name\":\"Cadre
        35\/2\",\"_disci_global_key\":\"cadre352\",\"multiplier\":2,\"ptsLimit\":150,\"inningLimit\":20,\"description\":\"2\"},\"1band_1\":{\"_name\":\"Einband\",\"_disci_global_key\":\"1band\",\"multiplier\":8,\"ptsLimit\":100,\"inningLimit\":20,\"description\":\"3\"}}","discip_leg2":"{\"libre_1\":{\"_name\":\"Freie
        Partie\",\"_disci_global_key\":\"libre\",\"multiplier\":1,\"ptsLimit\":200,\"inningLimit\":20,\"board\":\"1\",\"description\":\"\"},\"cadre352_1\":{\"_nam[...]
