---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/leagues/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":5,"association_id":1,"season_id":1,"name":"Mehrkampf Oberliga","division":"","status":2,"discip_key":3,"discip_leg1":"{\"libre_1\":{\"_name\":\"Freie
        Partie\",\"_disci_global_key\":\"libre\",\"multiplier\":1,\"ptsLimit\":200,\"inningLimit\":20,\"board\":\"1\",\"description\":\"\"},\"cadre352_1\":{\"_name\":\"Cadre
        35\/2\",\"_disci_global_key\":\"cadre352\",\"multiplier\":2,\"ptsLimit\":150,\"inningLimit\":20,\"description\":\"2\"},\"1band_1\":{\"_name\":\"Einband\",\"_disci_global_key\":\"1band\",\"multiplier\":8,\"ptsLimit\":100,\"inningLimit\":20,\"description\":\"3\"}}","discip_leg2":"{\"libre_1\":{\"_name\":\"Freie
        Partie\",\"_disci_global_key\":\"libre\",\"multiplier\":1,\"ptsLimit\":200,\"inningLimit\":20,\"board\":\"1\",\"description\":\"\"},\"cadre352_1\":{\"_name\":\"Cadre
        35\/2\",\"_disci_global_key\":\"cadre352\",\"multiplier\":2,\"ptsLimit\":150,\"inningLimit\":20,\"description\":\"2\"},\"1band_1\":{\"_name\":\"Einband\",\"_disci_global_key\":\"1band\",\"multiplier\":8,\"ptsLimit\":100,\"inningLimit\":20,\"description\":\"3\"}}","notes":"","details":null,"created_by_user_id":null,"created_at":"2025-12-09
        18:11:56","updated_at":"2026-03-02 12:48:44","pts_win":2,"pts_draw":1,"pts_loss":0,"sort_index":10,"public_token":"15336ed8-1ee4-11f1-8a99-2c4d54436ca5","season_name":"2025\/2026
        Karambol","season_start_date":"2025-07-01","season_end_date":"2026-06-30","game_type_name":"Karambol"}'
  recorded_at: Tue, 14 Jul 2026 15:58:17 GMT
recorded_with: VCR 6.4.0
