---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/match-plan/public?league_id=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Matchplan geladen","data":[{"id":30,"association_id":1,"league_id":5,"round_number":1,"match_number":1,"home_team_id":16,"home_club_id":16,"away_team_id":15,"away_club_id":16,"scheduled_date":"2025-09-30","scheduled_time":"17:00:00","round_type":0,"match_day":1,"status":0,"deleted":0,"notes":"","token":"147d5b512025a6e1dbe475464a35b1c9e625f15baef418909c07c9be891ff422","token_valid_until":365,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2025-12-20
        20:21:36","updated_at":"2025-12-20 20:21:36","parent_id":null,"home_team_name":"TuS
        Weida Mehrkampf 2","away_team_name":"TuS Weida Mehrkampf 1","home_club_name":"TuS
        Weida","away_club_name":"TuS Weida","matchpoints":{"matchplan_id":30,"total_home_points":"2","total_guest_points":"10","total_matches":6,"completed_matches":"6","completed_ts":"2025-12-20
        21:55:01","result_type":0,"protests":""},"is_completed":true},{"id":32,"association_id":1,"league_id":5,"round_number":1,"match_number":3,"home_team_id":14,"home_club_id":5,"away_team_id":13,"away_club_id":17,"scheduled_date":"2025-10-11","scheduled_time":"10:00:00","round_type":0,"match_day":1,"status":0,"deleted":0,"notes":"","token":"9e9a11df280c8ceb3a35464239302bae32fe21ec2aa05ed652bc6c278f2ef5ae","token_valid_until":365,"created_by_user_id":null,"updated_by_user_id":null,"created_at":"2025-12-20
        20:22:19","updated_at":"2025-12-20 20:22:1[...]
