---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/members/public?club_id=16&per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Mitglieder (öffentlich) geladen","data":[{"id":280,"first_name":"Jakob","last_name":"Gaumitz","nationality":"de","image":null,"_status":1},{"id":208,"first_name":"Manuel","last_name":"Orttmann","nationality":"de","image":null,"_status":1},{"id":270,"first_name":"Mike","last_name":"Rauh","nationality":"de","image":null,"_status":1},{"id":271,"first_name":"Uwe","last_name":"Reichelt","nationality":"de","image":null,"_status":1},{"id":272,"first_name":"Manfred","last_name":"Richter","nationality":"de","image":null,"_status":0},{"id":273,"first_name":"Morris","last_name":"Rommel","nationality":"de","image":null,"_status":0},{"id":274,"first_name":"Fabian","last_name":"Schmidt","nationality":"de","image":null,"_status":1},{"id":275,"first_name":"Jens","last_name":"Schumann","nationality":"de","image":null,"_status":1},{"id":276,"first_name":"Robert","last_name":"Seydewitz","nationality":"de","image":null,"_status":1},{"id":277,"first_name":"Karsten","last_name":"Siege","nationality":"de","image":null,"_status":0},{"id":278,"first_name":"Holger","last_name":"Wetzel","nationality":"de","image":null,"_status":1},{"id":279,"first_name":"Nils
        Roy","last_name":"Wobisch","nationality":"de","image":null,"_status":1}]}'
  recorded_at: Tue, 14 Jul 2026 16:07:22 GMT
recorded_with: VCR 6.4.0
