---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/leagues/5/ranking
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Rangliste erfolgreich abgerufen","data":{"1band":[{"Rang":1,"Spielername":"Schumann,
        Jens","Mannschaft":"TuS Weida Mehrkampf 1","club_id":16,"team_id":15,"player_id":275,"Beg":"10","Gew":"7","Verl":"3","Quote":"70.00","Punkte":"656","Aufn":"199","HS":17,"GD":"3.30","HGD":"5.26"},{"Rang":2,"Spielername":"Schmidt,
        Fabian","Mannschaft":"TuS Weida Mehrkampf 2","club_id":16,"team_id":16,"player_id":274,"Beg":"12","Gew":"7","Verl":"5","Quote":"58.33","Punkte":"615","Aufn":"239","HS":17,"GD":"2.57","HGD":"4.75"},{"Rang":3,"Spielername":"Bucher,
        Tobias","Mannschaft":"USV Jena Mehrkampf 1","club_id":17,"team_id":13,"player_id":45,"Beg":"8","Gew":"3","Verl":"5","Quote":"37.50","Punkte":"406","Aufn":"160","HS":33,"GD":"2.54","HGD":"3.90"},{"Rang":4,"Spieler[...]
