---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/seasons?status%5B%5D=2&status%5B%5D=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Saisons (öffentlich) erfolgreich abgerufen","data":[{"id":1,"association_id":1,"game_type_id":3,"disciplines2leg":null,"disciplines":null,"name":"2025/2026
        Karambol","start_date":"2025-07-01","end_date":"2026-06-30","registration_deadline":"2025-09-01","notes":null,"deleted":0,"status":2,"created_at":"2025-12-09
        17:14:39","updated_at":"2025-12-12 16:28:35","teams_count":22,"league_count":5,"game_type_name":"Karambol","game_type_short_name":"Karambol","game_type_official_short":"kara"},{"id":3,"association_id":1,"game_type_id":1,"disciplines2leg":null,"disciplines":null,"name":"2025/2026
        Pool","start_date":"2025-07-01","end_date":"2026-06-30","registration_deadline":"2025-07-31","notes":null,"deleted":0,"status":2,"created_at":"2025-12-16
        20:35:49","updated_at":"2025-12-22 18:12:33","teams_count":23,"league_count":4,"game_type_name":"Pool","game_type_short_name":"Pool","game_type_official_short":"pool"},{"id":2,"association_id":1,"game_type_id":2,"disciplines2leg":null,"disciplines":null,"name":"2025/2026
        Snooker ","start_date":"2025-07-01","end_date":"2026-06-30","registration_deadline":"2025-09-01","notes":null,"deleted":0,"status":2,"created_at":"2025-12-09
        17:14:39","updated_at":"2025-12-16 16:41:41","teams_count":3,"league_count":1,"game_type_name":"Snooker","game_type_short_name":"Snooker","game_type_official_short":"snoo"}]}'
  recorded_at: Tue, 14 Jul 2026 15:58:16 GMT
recorded_with: VCR 6.4.0
