---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/leagues/5/standings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Tabelle erfolgreich abgerufen","data":[{"Platz":1,"official_short_name":"kara","team_id":15,"Mannschaft":"TuS
        Weida Mehrkampf 1","club_id":16,"S":6,"G":"6","U":"0","V":"0","Pkt":"12","Diff":"+40","Partien":"56:16","Frames":"12018:7626","MGD":"9.740","BEMD":"75.000"},{"Platz":2,"official_short_name":"kara","team_id":14,"Mannschaft":"1.
        Erfurter BC Mehrkampf 1","club_id":5,"S":6,"G":"4","U":"0","V":"2","Pkt":"8","Diff":"+10","Partien":"41:31","Frames":"8368:9244","MGD":"7.246","BEMD":"66.667"},{"Platz":3,"official_short_name":"kara","team_id":13,"Mannschaft":"USV
        Jena Mehrkampf 1","club_id":17,"S":6,"G":"2","U":"0","V":"4","Pkt":"4","Diff":"-10","Partien":"31:41","Frames":"8349:9222","MGD":"5.983","BEMD":"35.000"},{"Platz":4,"official_short_name":"kara","team_id":16,"Mannschaft":"TuS
        Weida Mehrkampf 2","club_id":16,"S":6,"G":"0","U":"0","V":"6","Pkt":"0","Diff":"-40","Partien":"16:56","Frames":"6784:9427","MGD":"3.592","BEMD":"16.800"}]}'
  recorded_at: Tue, 14 Jul 2026 16:07:22 GMT
recorded_with: VCR 6.4.0
