---
http_interactions:
- request:
    method: get
    uri: https://ligen.billard.center/api/teams?league_id=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":14,"name":"1. Erfurter BC Mehrkampf 1","team_number":1,"season_id":1,"is_confirmed":1,"club_id":5,"clubs_teams_id":30,"club_name":"1.
        Erfurter BC","season_name":"2025\/2026 Karambol","captain_member_id":56,"captain_name":"Horst
        Hoffarth","season_start_date":"2025-07-01","season_end_date":"2026-06-30","season_status":2,"registration_deadline":"2025-09-01","game_type_name":"Karambol","league_id":5,"league_name":"Mehrkampf
        Oberliga","active_players_count":4,"inactive_players_count":0,"captain_inactive":0},{"id":15,"name":"TuS
        Weida Mehrkampf 1","team_number":4,"season_id":1,"is_confirmed":1,"club_id":16,"clubs_teams_id":31,"club_name":"TuS
        Weida","season_name":"2025\/2026 Karambol","captain_member_id":275,"captain_name":"Jens
        Schumann","season_start_date":"2025-07-01","season_end_date":"2026-06-30","season_status":2,"registration_deadline":"2025-09-01","game_type_name":"Karambol","league_id":5,"league_name":"Mehrkampf
        Oberliga","active_players_count":3,"inactive[...]
