<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Meta Map</h1>
      <%= custom_link_to 'Cancel', @meta_map, class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
      <%= render 'form', meta_map: @meta_map %>
    </div>
  </div>
</div>
