<div class="px-3 lg:px-0">
  <div class="container mx-auto my-8 px-4">
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-col sm:flex-row space-x-20 p-4  dark:">
        <h4 class="flex flex-1"><%= I18n.t("tournaments.groups.groups") %></h4>
        <% (1..tournament_plan.ngroups).each do |n| %>
          <div class="flex flex-1 flex-col">
            <h5>Gruppe <%= n %></h5>
            <% (1..(tournament_plan.players.to_f / tournament_plan.ngroups).ceil).each do |row_no| %>
              <% if groups["group#{n}"][row_no - 1].present? %>
                <div class="">
                  <%= groups["group#{n}"][row_no - 1].andand.fullname %>
                </div>
              <%- end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
