<h1><%= I18n.t("tournaments.edit.editing_tournament") %></h1>

<%= render 'form' %>

<%= link_to I18n.t("tournaments.edit.show"), @tournament %> |
<%= link_to I18n.t("tournaments.edit.back"), tournaments_path %>
