<style>
    body {
        margin: 0;
        padding: 0;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
    }

    hr {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>
<%= render :partial => "show", locals: {tournament: @tournament, subtitle: "Tournament Monitor"} %>
<% if @tournament.tournament_monitor.present? %>
<% else %>
  <%= button_to "Start Tournament", start_tournament_path(@tournament) %>
<% end %>
<% @groups = TournamentMonitor.distribute_to_group(@tournament.seedings.order(:position).map(&:player), @tournament.tournament_plan.ngroups) %>
<div class="row">
  <div class="col-sm-2">
    <%= render partial: "groups", locals: {tournament_plan: @tournament.tournament_plan, groups: @groups} %>
  </div>
</div>

