<div style="z-index:900" class="grid grid-cols-2 gap-4 mr-4 fixed text-gray-300 hover:text-black text-2vw font-bold" style="right: 10px; top: -10px;">
  <%= custom_link_to scoreboard_location_path(location.md5, sb_state: "table_scores", :"data-turbo" => false) do %>
    <%= render_svg "icons/information-outline", styles: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "tables overview" %>
  <% end %>
  <%= custom_link_to "javascript:tryResizeWindow()", :"data-turbo" => false do %>
    <%= render_svg "icons/refresh", styles: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "refresh/resize window (restores exit button)" %>
  <% end %>
</div> 