<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Party Game</h1>
      <%= custom_link_to 'Cancel', @party_game, class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
      <%= render 'form', party_game: @party_game %>
    </div>
  </div>
</div>
