<h1>Entry Points</h1>

<h2>
    <%= link_to "Country", countries_path %> -
    <%= link_to "Region", regions_path %> -
    <%= link_to "Club", clubs_path %>
</h2>

<h2>
    <%= link_to "Season", seasons_path %> -
    <%= link_to "SeasonParticipation", season_participations_path %> -
    <%= link_to "Player", players_path %>
</h2>

<h2>
    <%= link_to "Seeding", seedings_path %> -
    <%= link_to "Tournament", tournaments_path %>
</h2>

<h2>
    <%= link_to "Game", games_path %> -
    <%= link_to "GameParticipation", game_participations_path %> -
    <%= link_to "Inning", innings_path %>
</h2>

<h2>
    <%= link_to "Discipline", disciplines_path %> -
    <%= link_to "TournamentTemplate", tournament_templates_path %> -
    <%= link_to "PlayerCountTemplate", player_count_templates_path %> -
    <%= link_to "Template", templates_path %> -
    <%= link_to "TemplateGame", template_games_path %>
</h2>