<div id="<%= dom_id club_location %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Club</p>
    <%= club_location.club_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Location</p>
    <%= club_location.location_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= club_location.status %>
  </div>
</div>
