<div id="<%= dom_id(club_location, :index) %>" class="flex items-center justify-between gap-4 px-4 py-3">
  <%= turbo_stream_from club_location %>
  <div class="min-w-0"><%= render club_location %></div>
  <%= custom_link_to "View", club_location, class: "btn btn-white shrink-0" %>
</div>
