<div id="<%= dom_id(discipline_phase, :index) %>">
  <%= turbo_stream_from discipline_phase %>
  <%= render discipline_phase %>
  <%= custom_link_to "View", discipline_phase, class: "btn btn-white" %>
</div>

