<div class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 rounded-md p-2.5 overflow-x-auto">
  <pre class="m-0 whitespace-pre-wrap break-words text-sm font-mono"><%= field.formatted_data %></pre>
</div>
