<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Championship Type Cc</h1>
      <%= custom_link_to 'Cancel', @championship_type_cc, class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
      <%= render 'form', championship_type_cc: @championship_type_cc %>
    </div>
  </div>
</div>
