<h1>Carambus Tournament Management</h1>

<h3>Inhalt</h3>

<ul>
  <li><a href="#intro">Introduction</a></li>
  <li><a href="#structure">Structure</a></li>
  <li><a href="#api">Carambus API.</a></li>
  <li><a href="#region_management">Regional tournament management.</a></li>
  <li><a href="#location_management">Local game management.</a></li>
  <li><a href="#training">Training mode.</a></li>
</ul>

<h2><a name="intro"></a>Introduction</h2>

<p>Carambus aims to automate the entire game operation on regional and club level. Initially, only the billiards game
  Carambol will be supported in Germany with the various disciplines Free Game, Cadre, Single Cushion and Three cushion
  in individual and team tournaments. Other sports disciplines will be added gradually.</p>

<blockquote>
  <p>Automation with Carambus means support of all phases of billiards play from tournament planning, setting the
    tournament mode, assigning match pairings according to rankings and seedings, table assignment, real time recording
    of matches via scoreboards, to the evaluation of results and transmission to the central federations.</p>
</blockquote>

<h2><a name="structure"></a>Structure</h2>.

<p>Technically, Carambus is a hierarchy of web services. At the top is a web server whose sole purpose is to keep
  external data as timely and efficient as possible. Consumers of this data are at the regional level and at the venue,
  or clubhouse, web servers that manage local match operations.</p>

<p>The end devices of these web servers are web browsers used by the sports officials to plan and manage the
  tournaments, as well as the various display and input devices at the venue.</p>

<p>Because everything is based on standardized HTML protocols, Carambus is largely hardware independent.</p>

<h2><a name="api"></a>Carambus API</h2>.

<p>The data stored in the Carambus API server is only accessible via special REST URLs.
  The data is encrypted for transmission (SSL) and the accessing regional servers must be appropriately authorized
  (auth0 token).
  The following data is delivered centrally by the API server:</p>
<ul>
  <li>Regional associations
    <ul>
      <li>BA ID[1], name, short name, logo, email, address, country</li>
    </ul>
  </li>
  <li>Clubs
    <ul>
      <li>BA-ID, region, name, short name, address, home page, email, logo</li>
    </ul>
  </li>
  <li>Gaming venues
    <ul>
      <li>Club, Region, Name, Address</li>
    </ul>
  </li>
  <li>Table equipment
    <ul>
      <li>Table types, number, size, names</li>
    </ul>
  </li>
  <li>Player data
    <ul>
      <li>BA ID, club, last name, first name, title</li>
    </ul>
  </li>
  <li>Seasonal club affiliations.
    <ul>
      <li>Player, season, club, guests</li>
    </ul>
  </li>
  <li>Tournaments
    <ul>
      <li>BA ID, title, discipline, division, mode, entry restriction, date, accreditation deadline, venue, season,
        region, closing date, entry limit, scoring target, organizer (club or region)
    </ul>
  </li>
  <li>Tournament mode schedules
    <ul>
      <li>Name, rule system, number of players, number of tables, description, number of groups, formal schedule</li>
    </ul>
  </li>
  <li>Tournament/player seeding lists.
    <ul>
      <li>Player, list place, tournament, if necessary specifications for pre-game tournaments</li>
    </ul>
  </li>
  <li>Games
    <ul>
      <li>Tournament, game name, PlayerA, PlayerB</li>
    </ul>
  </li>
  <li>Match results
    <ul>
      <li>Game, balls, shots, highest series, average</li>
    </ul>
  </li>
  <li>Player Rankings
    <ul>
      <li>Player, discipline, best individual average, best tournament average</li>
    </ul>
  </li>
</ul>

<p>[1] The BA-ID is a number that uniquely describes the particular record in the billiards area. For example, the BA-ID
  121340 of a player in the club with the BA-ID 1573 in the regional association NBV refers to the webpage
  https://nbv.billardarea.de/cms_clubs/playerdetails/1573/121340.</p>
<p>[2] Starting 2022 BillardArea is replaced by ClubCloud in most regions.  As opposed to BA there is no longer a unique identifier
  for players germany wide.  CC-IDs are only unique within regional ClubCloud-Instances.</p>

<h2><a name="region_management"></a>Regional tournament management</h2>

<p>Tournament management is accomplished in the following steps:</p>

<ul>
  <li><strong>Updating the tournament data:</strong> <br/>
    Before the start of the tournament, it should be ensured that the tournament is updated with the seed lists in the
    billiards area. The synchronization with the local Carambus tournament manager can then be triggered.
  </li>
  <li><strong>Setting the seed list:</strong> <br/>
    With the synchronization, the list of participants is taken over. The seed list is derived from the ranking places
    of the players. The game director can make additional players to fill in absences and, if necessary, minor
    redeployment.
  </li>
  <li><strong>Selection of the tournament mode:</strong> <br/>
    Once the ordered roster and thus the number of players is determined, the tournament mode is selected. <br/>
    In general, there are several options (group games and main round, possibly with playing out the places or everyone
    against everyone, etc.)
  </li>
</ul>

<h2><a name="location_management"></a>Local game management</h2>.

<p>Once the tournament mode is set, the tournament can begin.</p>

<h3>Determining the tables:</h3>

<p>From the set of tables available in the playing venue, tables 1-n are assigned from the tournament mode game
  schedule.</p>

<h3>Setting some parameters:</h3>

<p>Before the start, the following parameters can still be updated, if necessary, according to the tournament rules:</p>

<ul>
  <li>Recording limit</li>
  <li>Ball target</li>
  <li>Play-in time at new table</li>
  <li>Play-in time when returning to a table</li>
  <li>Consideration time before a shot</li>
</ul>

<h3>Start and progress of the game:</h3>

<p>From now on, everything runs automatically. On the scoreboards appear the match pairings, indicating the group
  numbers and the game names (for example, group 2 game 2-4, so in group 2 the 2nd player against the 4th player).</p>.

<p>The first thing that appears on the scoreboards is the call to play in with corresponding timers, e.g., 5 or 3
  minutes.</p>

<p>Next, the call to kick off appears. As a result, the players can be swapped (White kicks off, Yellow kicks off).</p>.

<p>Once the player kicking off is determined, the game is started.</p>.

<p>The following entries are possible on the scoreboards:</p>.

<p><code>+1</code> Increase the number of balls in the current recording by one. (With touch displays, this can also be triggered by clicking on the respective number)</p>.

<p><code>-1</code> Decrease the ball count of the current shot by one.</p>

<p><code>nnn</code> Set the ball count of the current shot. Show the number field 0-9.
  Any positive number can be entered.
  Finish with enter or cancel with C</p>.

<p>The recording history is shown in the display panel and can be corrected with the correction key even before the game
  is finished, see below</p>.

<p><code>DEL</code> An Undo button can be used to go back to any recording. After correcting with +1, -1 or nnn input,
  multiple player changes will advance to the current shot.</p>.

<p><code>^v</code> Player change: the current ball count of the finished shot is saved and added to the total. The other
  player now active is marked on the scoreboard.</p>.

<p><code>nnn</code> Set the ball number of the current shot. Show the number field 0-9.
  Any positive number can be entered.
  Finish with enter or cancel with C</p>.

<p>The recording history is shown in the display panel and can be corrected with the correction key even before the game
  is finished, see below</p>.

<p><code>DEL</code> An Undo button can be used to go back to any recording. After correcting with +1, -1 or nnn input,
  multiple player changes will advance to the current shot.</p>.

<p><code>^v</code> Player change: The current ball count of the finished shot is saved and added to the total.  The other player who is now active is marked on the scoreboard. (With touch displays, this can also be triggered by clicking on the ball count of the respective other player)</p>.

<p>The referee can start <code>&gt;</code>, <code>o</code> stop or <code>||</code> stop the timer for the deliberation
  time</p>.
<h4>4-button remote control</h4>
<p>
  In tournaments with referees, a special operation mode is supported with 4-button remotes.
  These remotes are those used to remotely control, for example, PowerPoint presentations</p>.

<p>
  <%= image_tag ("pointer4.jpg"), width: 200, style: "float:left; margin-right: 10px;" %>
  The keys A (pageup), B (pagedown), C (b) and D (F5, ESC) have the following meanings depending on the game state:
  <br><br>
  <strong>Push-in</strong><br>A starts the push-in timer for player A, B states the push-in timer for player B, D moves
  on to the push-out phase.
  <br><br>
  <strong>Push out</strong><br>A or B changes the kicking off player (player A kicks off with white), with D the game is
  started once set up and player A has kicked off.
  <br><br>
  <strong>Playing phase</strong>
  <br>When it is player A's turn, a point is counted for him with A.
  <br>When it is player A's turn, a point is scored for him with B if he misses.
  <br>If it is player B's turn, a point is counted for him with B.
  <br>When it is player B's turn, if there is a miscue with A, it is changed to player B.
  <br><br>When a player reaches the goal (capture limit or point goal), the game automatically either switches to player
  B for a re-take or ends the game.
</p>

<p>The keys should not be pressed until the balls have come to rest and the player is basically ready for the next shot.
  The key simultaneously starts the timer for the deliberation period.
</p>

<p>The extended input options above can also be triggered with the 4-button remote control.
  To do this, switch from simple input mode (the recording field is selected) to extended
  input mode by pressing the D key downwards.
  In input mode, the individual input fields can be accessed by left/right
  navigation with the A and B keys.  The functions are each triggered with the D key (down).
  The respective input field remains selected afterwards, so that the same function
  can simply be used several times.  To return to the normal input mode, press the C key (up).</p>

<h3>Timeout handling</h3>

<p>When planning the tournament or at the start of the tournament, the length of the timeout and the number of possible timeouts can be set.  With the remote control, the timeout counter can be reduced by one during the game.  The remaining time is then extended by the preset timeout. </p>

<p>To do this, use the remote control to navigate down to the timer symbol with the D button and trigger it with the A button (left).  The up button (C button) returns to the normal input mode.</p>
<p>The other functions (Stop, Halt, Play) can also be triggered with the remote control. For this purpose, the respective function can be activated cyclically in timer mode with the B button (right) and triggered with the A button (left).</p>
<h3>The end of the game</h3>

<p>is automatically detected based on the inputs and the shot or ball count.</p>

<p>A final report is displayed on the board. Players confirm the result by making an entry on the scoreboard.</p>.

<h3>Switch to the next round</h3>

<p>Once all matches in a round are completed, the next round will start automatically. The corresponding new pairings
  will be displayed on the scoreboards.</p>

<h3>End of the tournament</h3>

<p>As soon as all games of the tournament are finished, a final protocol is sent to the game master with a CSV file,
  which can then be used directly to upload the results to the billiards area.</p>.

<h2><a name="training"></a>Training mode</h2>

<p>The respective tables can be selected on the scoreboards.
  Depending on the tournament status, free tables can be identified and used for free practice play.</p>

<p>Ad-hoc matches can be initialised via a parameter field. Possible inputs are</p>

<ul>
  <li>Discipline (according to the respective table characteristics, for both, can be specified separately for the individual player)</li>.
  <li>Balls goal (for both, can be specified separately for the individual player)</li>
  <li>Innings limit</li>
  <li>Timeout (optional)</li>
  <li>Timeouts (optional number of timeout extensions)</li>
  <li>Players (selection from club players or guests)</li>
  <li>Individual discipline or balls goal</li>.
</ul>
<p></p>
<p>For a future extension, statistics on training matches are planned (per player and per match pairing)</p>.
