<!-----
---
title: Carambus Turnier Management
summary:
version:
published_at: !ruby/object:ActiveSupport::TimeWithZone
  utc: 2025-03-07 21:19:17.551167000 Z
  zone: !ruby/object:ActiveSupport::TimeZone
    name: Europe/Berlin
  time: 2025-03-07 22:19:17.551167000 Z
tags: []
metadata: {}
position: 0
id: 50000001
---

-->
<div class="py-10 max-w-2xl m-auto  flex flex-col">
<h1 class='font-bold mt-4'>Carambus Tournament Management</h1>
<h3 class='font-bold mt-4'>Content</h3>

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#structure">Structure</a></li>
<li><a href="#api">Carambus API</a></li>
<li><a href="#region_management">Regional tournament management</a></li>
<li><a href="#location_management">Local game management</a></li>
<li><a href="#training">Training mode</a></li>
</ul>
<h2 class='font-bold mt-4'><a name="intro"></a>
 Introduction</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Carambus aims to automate the entire game operation at regional and club level. It supports the most important billiards disciplines of carom, pool, snooker and skittles in Germany in individual tournaments and team competitions.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
&gt; Automation with Carambus means support for all phases of the billiards game, from tournament planning, setting the tournament mode, assigning the pairings according to the ranking and seeding lists, table allocation, real-time recording of the games via the scoreboards to evaluation of the results and transmission to the central associations.</p>
<h2 class='font-bold mt-4'><a name="structure"></a>
 Structure</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Technically speaking, Carambus is a hierarchy of web services. At the top is a web server, which only serves to keep external data as up-to-date and efficient as possible. Consumers of this data are web servers at regional level and at the venue or in the clubhouses, which manage local match operations.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The end devices of these web servers are the web browsers of the sports officials for planning and handling the tournaments, as well as the various display and input devices at the event venue.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As everything is based on standardized HTML protocols, Carambus is largely hardware-independent.</p>
<h2 class='font-bold mt-4'><a name="api"></a>
 Carambus API</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The data stored in the Carambus API server can only be accessed via special REST URLs.
The data is encrypted for transmission (SSL) and the accessing regional servers must be authorized accordingly (auth0 token).
The following data is supplied centrally by the API server:</p>

<ul>
<li>Regional associations

<ul>
<li>CC-ID[1], name, short name, logo, e-mail, address, country</li>
</ul></li>
<li>Clubs

<ul>
<li>CC-ID[1], region, name, short name, address, home page, e-mail, logo</li>
</ul></li>
<li>Venues

<ul>
<li>Club[1], region, name, address</li>
</ul></li>
<li>Table equipment

<ul>
<li>Table types, number, size, names</li>
</ul></li>
<li>Player data

<ul>
<li>CC-ID[1], club, surname, first name, title</li>
</ul></li>
<li>Seasonal club affiliations

<ul>
<li>Player, season, club, club guests</li>
</ul></li>
<li>Tournaments

<ul>
<li>CC-ID[1], title, discipline, division, mode, entry restriction, date, accreditation deadline, venue, season, region, closing date, entry limit, points target, organizer (club or region)</li>
</ul></li>
<li>Tournament mode plans

<ul>
<li>Name, rule system, number of players, number of tables, description, number of groups, formal procedure</li>
</ul></li>
<li>Tournament/player seeding lists

<ul>
<li>Players, list position, tournament, specifications for handicap tournaments if applicable</li>
</ul></li>
<li>Games

<ul>
<li>Tournament, game name, PlayerA, PlayerB</li>
</ul></li>
<li>Match results

<ul>
<li>Game, balls, shots, maximum series, average</li>
</ul></li>
<li>Player rankings

<ul>
<li>Player, discipline, best individual average, best tournament average</li>
</ul></li>
</ul>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
[1] From 2022, the BilardArea will be replaced by the ClubClud.  In contrast to the BA, there are no longer unique identifiers
  throughout Germany.  The CC IDs are only unique within the regional ClubCloud instances.</p>
<h2 class='font-bold mt-4'><a name="region_management"></a>
Regional tournament management</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Tournament management is carried out in the following steps:</p>

<ul>
<li><strong>Updating the tournament data:</strong>
Before the tournament starts, make sure that the tournament is updated with the seeding lists in the billiard area. Synchronization with the local Carambus tournament manager can then be initiated.</li>
<li><strong>Defining the seeding list:</strong>
The list of participants is transferred with the synchronization. The seeding list is derived from the ranking positions of the players. The match manager can add further players to fill in any omissions and make minor changes if necessary.</li>
<li><strong>Selection of the tournament mode:</strong>
As soon as the orderly player list and thus the number of players have been determined, the tournament mode is selected.
In general, there are several options (group matches and main round, possibly with play-offs or everyone against everyone, etc.)</li>
</ul>
<h2 class='font-bold mt-4'><a name="location_management"></a>
Local match management</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Once the tournament mode has been determined, the tournament can begin.</p>
<h3 class='font-bold mt-4'>Determination of the tables:</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Tables 1-n from the tournament mode schedule are assigned from the number of tables available in the venue.</p>
<h3 class='font-bold mt-4'>Definition of some parameters:</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Before the start, the following parameters can be updated in accordance with the tournament rules:</p>

<ul>
<li>Shooting limit</li>
<li>Ball target</li>
<li>Play-in time at new table</li>
<li>Play-in time when returning to a table</li>
<li>Thinking time before a shot.</li>
</ul>
<h3 class='font-bold mt-4'>Start and course of the game:</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
From now on, everything runs automatically. The pairings appear on the scoreboards with the group numbers and game names (e.g. group 2 game 2-4, i.e. in group 2 the 2nd player against the 4th player).</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The first thing that appears on the scoreboards is the request to play in with corresponding timers, e.g. 5 or 3 minutes.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Next, the request to kick off appears. As a result, the players can be swapped (White kicks off, Yellow follows).</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As soon as the player taking the kick-off has been determined, the game starts.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The following entries on the scoreboards are possible:</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<code>+1</code> Increase the number of balls in the current shot by one. (With touch displays, this can also be triggered by clicking on the respective number).</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
-<code>1</code> Decrease the number of balls in the current shot by one.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<code>nnn</code> Set the number of balls in the current recording. Show the number field 0-9.
        Any positive number can be entered.
        End with Enter or cancel with C</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The recording history is shown on the display board and can be corrected with the correction button before the end of the game, see below.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<code>DEL</code> The Undo button can be used to go back to any recording. After correction with +1, -1 or nnn input, you can scroll to the current recording by changing players several times.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<code>^v</code> Player change: The current ball count of the finished shot is saved and added to the total.  The other active player is marked on the scoreboard. (With touch displays, this can also be triggered by clicking on the ball number of the other player).</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The referee can <code>&gt;</code> start, <code>o</code> end or <code>||</code> stop the timer for the reflection time</p>
<h4 class='font-bold mt-4'>4-button remote control</h4>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
In tournaments with referees, a special operating mode with 4-button remote controls is supported.
    These remote controls are those used to remotely control PowerPoint presentations, for example.</p>
  <%= image_tag ("pointer4.jpg"), width:200, style: "float:left; margin-right: 10px;" %>

  The keys A (pageup), B (pagedown), C (b) and D (F5, ESC) have the following meanings depending on the game status:<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<strong>Insert</strong>
A starts the inbound timer for player A, B starts the inbound timer for player B, D continues to the outbound phase.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<strong>Eject</strong>
A or B changes the kicking-off player (player A kicks off with white), with D the game is started as soon as it has been set up and player A has kicked off.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
<strong>Game phase</strong>
- If it is player A&#39;s turn, he scores a point with A.
- If it is player A&#39;s turn, the game is switched to player B if player B takes the wrong turn.
- If it is player B&#39;s turn, one point is scored with B.
- If it is player B&#39;s turn, the game switches to player B if A takes the wrong turn.
- When a player has reached the target (shot limit or point target), the game is either automatically switched to player B for the follow-up shot or the game ends.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The buttons should only be pressed when the balls have come to rest and the player is basically ready for the next shot.  The button also starts the timer for the reflection time.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The extended input options above can also be triggered using the 4-button remote control.  To do this, switch from simple input mode (the recording field is selected) to input mode by pressing the D button downwards.  In input mode, the individual input fields can be accessed by left/right navigation using the A and B buttons.  The functions are triggered by pressing the D button (down).  The respective input field then remains selected so that the same function can be used several times.  To return to normal input mode, press the C button (up)</p>
<h3 class='font-bold mt-4'>Timeout handling</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The length of the timeout and the number of possible timeout extensions can be specified during tournament planning or at the start of the tournament.  The timeout counter can be reduced by one with the remote control during the game.  The remaining thinking time is then extended by the amount of the previous timeout.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
To do this, press the D button on the remote control to navigate down to the timer symbol and press the A button (left) to trigger it.  Pressing the up button (button C) takes you back to normal input mode.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The other functions (Stop, Halt, Play) can also be triggered using the remote control. In timer mode, the respective function can be activated cyclically with button B (right) and triggered with button A (left).</p>
<h3 class='font-bold mt-4'>The end of the game</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
is automatically recognized based on the entries and the number of shots or balls.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
A final report is displayed on the scoreboard.  The players confirm the result with an entry on the scoreboard.</p>
<h3 class='font-bold mt-4'>Change to the next round</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As soon as all games in a round have been completed, the next round starts automatically.  The corresponding new pairings are displayed on the scoreboards.</p>
<h3 class='font-bold mt-4'>End of the tournament</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As soon as all games of the tournament have been completed, a final protocol is sent to the game master with a CSV file, which can then be used directly to upload the results to the billiard area.</p>
<h2 class='font-bold mt-4'><a name="training"></a>
Training mode</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The respective tables can be selected on the scoreboards.
  Depending on the tournament status, free tables can be recognized and used for the free training game
  can be used.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Ad-hoc games can be initialized via a parameter field. The input options are</p>

<ul>
<li>Discipline (according to the respective table properties, for both, can be specified separately for the individual player)</li>
<li>Target ball count (for both, can be specified separately for the individual player) </li>
<li>Shooting limit </li>
<li>Timeout (optional) </li>
<li>Timeouts (optional number of timeout extensions)</li>
<li>Players (selection from club players or guests)</li>
<li>Individual discipline or target ball count</li>
</ul>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Statistics on training games are planned for future expansion (per player and per match)</p>
</div>
