<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <div class="flex flex-col bg-white dark:bg-black rounded shadow p-8">
        <%= render "carambus" %>
      </div>
    </div>
  </div>
</div>
