<!-----
---
title: Verwaltung von Ligaspieltagen
summary: Die Behandlung von Ligabegegnungen l채uft grundlegend verschieden verglichen
  mit Einzelturnieren und wird daher auch speziell unterst체tzt.  Die Struktur der
  Ligabegegnungen ist f체r die einzelnen Ligen vorgegeben und 채ndert sich nicht im
  Laufe einer Saison.
version:
published_at: !ruby/object:ActiveSupport::TimeWithZone
  utc: 2025-03-05 14:34:15.052622000 Z
  zone: !ruby/object:ActiveSupport::TimeZone
    name: Europe/Berlin
  time: 2025-03-05 15:34:15.052622000 Z
tags: []
metadata: {}
position: 2
id: 2
---

-->
<div class="py-10 max-w-2xl m-auto  flex flex-col">
<h1 class='font-bold mt-4'>Administration of league match days</h1>
<h3 class='font-bold mt-4'>Overview</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The handling of league matches is fundamentally different compared to individual tournaments and is therefore specially supported.  The structure of league fixtures is predefined for the individual leagues and does not change over the course of a season.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The following phases are generally run through:</p>

<ul>
<li>Planning the match days and teams</li>
<li>At the beginning of a match day, the captains determine the players</li>
<li>Determination of the tables for the individual games per round</li>
<li>Assignment of the players to the individual games per round</li>
<li>Starting the rounds and transferring the data to the scoreboards</li>
<li>Operation of the scoreboards</li>
<li>Transferring the results to the matchday monitor and, if necessary, to 
Overview boards</li>
<li>Automatic completion of a round, start of another round and, if necessary 
Start of a shootout in the event of a tie.</li>
<li>Transfer of the results to the ClubCloud</li>
</ul>
<h3 class='font-bold mt-4'>Planning of match days and teams</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The structure of the match days of a league is determined at DBU or state level at the start of the season and formally entered in ClubCloud. The scheduling of the individual match days is also managed in the ClubCloud.  Furthermore, the players eligible to play in the individual teams are determined.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
This data forms the basis for Carambus Matchday Management. The easiest way for the match manager to find this data is via the match location, where all matches are listed.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
After opening the matchday view, there is a link to the matchday monitor. The entire matchday process is controlled in this view.</p>
<h3 class='font-bold mt-4'>Determining the players of a matchday</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Carambus offers the players of the corresponding team and additionally players from subordinate leagues from the entries in the ClubCloud for selection. After the selection, the number of players available on the match day is fixed.</p>
<h3 class='font-bold mt-4'>Assignment of the tables</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
In Carambus, the tables available in a venue can be defined by name and type (carom large, medium, small, pool, snooker).  Tables from this set must be assigned to the individual games round by round.</p>
<h3 class='font-bold mt-4'>Assignment of players to games</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Once the tables have been assigned, the individual match pairings must be filled.  The round can only be started once all games in a round have been filled.</p>
<h3 class='font-bold mt-4'>Transferring the data to the scoreboards</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
When the round starts, the individual match pairings appear on the scoreboards. Once a match has been completed, the results remain until the next pairing is called up.</p>
<h3 class='font-bold mt-4'>Operating the scoreboards</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The scoreboards are operated via touch input.  Entries can be undone as required using Undo.  This also applies after the end of the game, as long as the game has not been finally completed by the game master.</p>
<h3 class='font-bold mt-4'>Control on the matchday monitor</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The entire matchday can be monitored on the matchday monitor. The results are updated live in the monitor view. At the end, the result of the individual pairings must be confirmed. </p>
<h3 class='font-bold mt-4'>Automatic round end and start</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
When all matches in a round have been confirmed, the next round or shootout is automatically started. The interim results and the final result can be viewed on any scoreboard if required (Start -&gt; Tournaments -&gt; Tournament)</p>
<h3 class='font-bold mt-4'>Upload to the ClubCloud</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The form for uploading to the ClubCloud is offered in the same way as in the ClubCloud admin area.  For this to work, a login to the ClubCloud with the same browser is required.</p>
</div>
