<!-----
---
title: Privacy
summary: Vereinfachte Datenschutzrichtlinien
version:
published_at: !ruby/object:ActiveSupport::TimeWithZone
  utc: 2025-03-05 15:00:42.639697000 Z
  zone: !ruby/object:ActiveSupport::TimeZone
    name: Europe/Berlin
  time: 2025-03-05 16:00:42.639697000 Z
tags: []
metadata: {}
position: 0
id: 5
---

-->
<div class="py-10 max-w-2xl m-auto  flex flex-col">
<h1 class='font-bold mt-4'>Datenschutzrichtlinien</h1>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Diese Website sammelt über Personen nur Wettkampfdaten und -statistiken.  Diese Daten werden am Ende eines Turniers an den Veranstalter zur weiteren Dokumentation übermittelt.</p>
</div>
