<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

  <p class="mb-4 text-xl text-gray-700 dark:text-gray-300 leading-normal">
    Diese Website sammelt über Personen nur Wettkampfdaten und -statistiken.  Diese Daten werden am Ende eines Turniers an den Veranstalter zur weiteren Dokumentation übermittelt.</p>

</div>
