<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

  <p class="mb-4 text-xl text-gray-700 dark:text-gray-300 leading-normal">
This website does not collect any data other than players gaming statistics.  These data are transferred at the end of a tournament to the organizer for rankings and documentation purpose.</p>

</div>
