<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

  <p class="mb-4 text-xl text-gray-700 dark:text-gray-200 leading-normal">
    This web application has two main interfaces:
    - tournament schedules and results from the regional clubcloud instances
    - the scoreboards at the tables.
  </p>
  <p class="mb-4 text-xl text-gray-700 dark:text-gray-200 leading-normal">
    After the tournament data and seed lists have been retrieved from the BA, Carambus works
    independently, matching the selected tournament mode with the scoreboards.
    Without further intervention by the Tournament Manager, the tournament schedule is controlled by the entries on the scoreboards.
    according to the selected tournament mode.
  </p>
  <p class="mb-4 text-xl text-gray-700 dark:text-gray-200 leading-normal">
    For security reasons (no waranty here! ;-) ), tournament management should not rely solely on the
    entries on the scoreboards.  A parallel entry of the match results on the given match report forms should be carried out manually.
  </p>
</div>
