<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

  <p class="mb-4 text-xl text-gray-700 dark:text-gray-300 leading-normal">
    Diese Webanwendung hat im wesentlichen zwei Schnittstellen:
      - Turnierpläne und Ergebnisse aus der Website billardarea.de (BA), bzw. seit 2022 aus den verschiedenen regionalen ClubCloud-Instanzen.
      - die Anzeigetafeln an den Tischen.
  </p>
  <p class="mb-4 text-xl text-gray-700 dark:text-gray-300 leading-normal">
    Nachdem die Turnierdaten und Setzlisten von der ClubCloud abgegriffen sind arbeitet Carambus
    selbständig, wobei der gewählte Turniermodus mit den Anzeigetafeln abgeglichen wird.
    Ohne weitere Eingriffe durch den Turnier-Manager wird durch die Eingaben an den Anzeigetafeln der Turnierablauf
    gesteuert gemäss dem gewählten Turniermodus abgewickelt.
  </p>
  <p class="mb-4 text-xl text-gray-700 dark:text-gray-300 leading-normal">
    Aus Sicherheitsgründen (no waranty here! ;-) ) sollte sich das Turnier-Management nicht allein auf die
    Eingaben an den Anzeigetafeln stützen.  Eine parallele Erfassung der Spielergebnisse auf den vorgegebenen Spielprotokollformularen sollte manuell
    durchgeführt werden.
  </p>
</div>
