<!-----
---
title: Terms
summary:
version:
published_at: !ruby/object:ActiveSupport::TimeWithZone
  utc: 2025-03-05 22:15:15.285055000 Z
  zone: !ruby/object:ActiveSupport::TimeZone
    name: Europe/Berlin
  time: 2025-03-05 23:15:15.285055000 Z
tags: []
metadata: {}
position: 0
id: 4
---

-->
<div class="py-10 max-w-2xl m-auto  flex flex-col">
<h1 class='font-bold mt-4'>AGB</h1>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
This web application essentially has two interfaces:</p>

<ul>
<li>Tournament schedules and results from the website billardarea.de (BA), or since 2022 from the various regional ClubCloud instances.</li>
<li>the scoreboards at the tables.</li>
</ul>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Once the tournament data and seeding lists have been retrieved from the ClubCloud, Carambus works independently, matching the selected tournament mode with the scoreboards. Without any further intervention by the tournament manager, the tournament process is controlled by the entries on the scoreboards in accordance with the selected tournament mode.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
For security reasons (no waranty here! ;-) ), the tournament management should not rely solely on the entries on the scoreboards.  A parallel recording of the match results on the specified match protocol forms should be carried out manually.</p>
</div>
