<!-----
---
title: Turnierverwaltung
summary:
version:
published_at: !ruby/object:ActiveSupport::TimeWithZone
  utc: 2025-03-07 22:00:25.243335000 Z
  zone: !ruby/object:ActiveSupport::TimeZone
    name: Europe/Berlin
  time: 2025-03-07 23:00:25.243335000 Z
tags: []
metadata: {}
position: 0
id: 50000002
---

-->
<div class="py-10 max-w-2xl m-auto  flex flex-col">
<h1 class='font-bold mt-4'>Tournament administration</h1>
<h2 class='font-bold mt-4'>Account</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
An account with admin rights on the Carambus Location Server is required for Carambus tournament management.
This can be set up by the club chairman or <a href="mailto:gernot.ullrich@gmx.de">Carambus developer</a>.
The URL can be derived from the URLs of the scoreboards, e.g. in Wedel http://192.168.2.143:3131 .</p>
<h2 class='font-bold mt-4'>Synchronization with the ClubCloud</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The best way to find the tournaments is via Regional associations -&gt; Search -&gt; View
.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The currently known tournaments of the current season are listed there. The tournament can be selected via the title.
If a tournament is not yet listed, there may be several reasons for this:</p>

<ul>
<li>The tournament is not yet entered in the ClubCloud</li>
<li>The central Carambus API server does not yet recognize the tournament.</li>
<li>The tournament has not yet been transferred to the local location server.</li>
</ul>
<h3 class='font-bold mt-4'>The tournament has not yet been entered in the ClubCloud</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
It is the task of the national sports administrator to enter the tournaments with the participant lists in the ClubCloud.</p>
<h3 class='font-bold mt-4'>The central Carambus API server does not yet recognize the tournament.</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The API server is currently maintained by the Carambus developer (mailto: gernot.ullrich@gmx.de).<br>
Tournament data of the regions using Carambus are automatically updated daily at 20:00 from the corresponding regional ClubCloud server.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Local servers always request updates from the ClubCloud via the central API server (api.carambus.de).
This accesses the data from the various ClubCloud instances.  All updates that have been made on the API server in the meantime are always transferred with the specific updates.</p>
<h3 class='font-bold mt-4'>The tournament has not yet been transferred to the local location server</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
A tournament that does not exist locally but does exist on the API server is automatically loaded with every update request to the API server, as the entire database is synchronized with every request to the API server.
Such an explicit request can be, for example, updating the club data:
Clubs -&gt; Search -&gt; View -&gt; "Data synchronization with the ClubCloud with all details"
</p>
<h3 class='font-bold mt-4'>Update regional association, club, player, tournament, seeding lists</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
When explicitly retrieving data, the requested data is synchronized with the Billars Area on the API server.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The following explicit data requests are implemented:</p>

<ul>
<li>Club -&gt; Data synchronization with the ClubCloud</li>
<li>Club -&gt; Data synchronization with the ClubCloud with all details</li>
<li>Regional association -&gt; data synchronization with the ClubCloud incl. clubs</li>
<li>Regional association -&gt; data synchronization with ClubCloud incl. clubs and players</li>
<li>tournament -&gt; Data synchronization with the ClubCloud</li>
</ul>
<h2 class='font-bold mt-4'>Tournament administration</h2>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
A tournament is generally managed in the following phases:</p>

<ul>
<li>Synchronization with the ClubCloud</li>
<li>Checking the relevant data</li>
<li>Sorting the seeding list according to rankings</li>
<li>Selection of the tournament mode</li>
<li>Local adjustment of the tournament parameters</li>
<li>Check the local scoreboards</li>
<li>Start of the tournament</li>
<li>Comparison of the match results with the match logs</li>
<li>eMail with the game results (csv) to the tournament director</li>
<li>Upload the game results (csv) to the ClubCloud</li>
<li>Comparison with the ClubCloud for the last check.</li>
</ul>
<h3 class='font-bold mt-4'>Comparison with the ClubCloud</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As described above, the tournament can be loaded for the first time, e.g. by synchronizing the club data</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
If a tournament is already known locally, an update can be requested again at any time:
Region -&gt; Tournament -&gt; Data synchronization with the ClubCloud
</p>
<h3 class='font-bold mt-4'>Checking the relevant data</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The following data is important for the running of a tournament:</p>

<ul>
<li>Organizer (regional association or club)</li>
<li>Discipline (for the table assignments)</li>
<li>Date</li>
<li>Season</li>
<li>Venue (for the table assignments)</li>
</ul>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
This data is usually pulled automatically from the ClubCloud. The venue is a special case.
Unfortunately, free text input is possible for the venue on the ClubCloud.
For the table assignment in Carambus, however, it is necessary to select a formally defined venue with configuration of the tables (table use, table type)
You must also specify whether the tournament is a handicap tournament.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
This data must be entered via
tournament -&gt; Edit -&gt; Update tournament
must be added</p>
<h3 class='font-bold mt-4'>Sorting of the seeding list according to rankings</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The list of participants (seeding list) is transferred with the BA comparison.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The handicaps can be entered for handicap tournaments:
Tournament -&gt; Update seeding list

This list can now be sorted locally according to the player rankings:
Tournament -&gt; Sort by ranking or handicap
</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The order can now be changed by swapping places with the up/down arrows.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The order is then finalized with
Tournament -&gt; Finalize ranking list (not reversible)
</p>
<h3 class='font-bold mt-4'>Selection of the tournament mode</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Now jump to the tournament mode selection:
Tournament -&gt; Set tournament mode
</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
There are usually several options available.  The tournament director can select a mode - usually already specified by the regional sports director for tournaments of the regional associations.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
Selection by clicking e.g. &#39;Continue with T07&#39;</p>
<h3 class='font-bold mt-4'>Local adjustment of the tournament parameters</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The following parameters can now be adjusted:</p>

<ul>
<li>Assignment of tables (mapping internal table name to external name)</li>
<li>Ball target (possibly already specified for tournament)</li>
<li>Recording limit (possibly already specified for tournament)</li>
<li>Timeout in sec (0 or no entry if no timeouts)</li>
<li>Timeouts (n timeout extensions maximum)</li>
<li>Checkbox &quot;Tournament manager checks results before acceptance&quot;</li>
<li>Play-in time</li>
<li>shortened entry time (when changing to an already played table)</li>
</ul>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
About the checkbox: Normally, players can update the game status, e.g. after &#39;Game finished - OK&#39;.
If a check by the tournament manager is required, this is disabled and the tournament manager can release the table after comparing it with the match log.</p>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The new pairings appear automatically on the scoreboards.
Only at the very end:</p>
<h3 class='font-bold mt-4'>eMail with the match results (csv) to the tournament manager</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
At the end of the tournament, the tournament organizer automatically receives a CSV file with the results in the format required for uploading to the ClubCloud by email.
This file is also saved on the local server ({carambus}/tmp/result-{ba_id}.csv)</p>
<h3 class='font-bold mt-4'>Upload the match results (csv) to the ClubCloud</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
The tournament manager can upload the CSV file directly to the ClubCloud (he knows how to do this ;-)</p>
<h3 class='font-bold mt-4'>Comparison with the ClubCloud for the last check</h3>
<p class='text-base text-gray-700  dark:text-gray-200 leading-relaxed my-4'>
As a final step, a comparison can be made with the ClubCloud.
The downloaded data is the basis for later calculated rankings.</p>
</div>
