<h1><%= I18n.t("tournament_monitors.new.new_tournament_execution", :default => "New Tournament Execution") %></h1>

<%= render 'form' %>

<%= link_to I18n.t("tournament_monitors.new.back", :default => 'Back'), tournament_monitors_path %>
