<div class="flex flex-col h-full bg-white dark:bg-black rounded shadow">
    <div class="flex h-5/6 bg-gray-200">
        <div class="w-2/5 bg-white dark:bg-black">
            <div class="flex h-1/6 bg-white dark:bg-black items -center">
                <div class="p-2"></div>
                <div class="flex-nowrap text-2vw">Ullrich, Dr. Gernot</div>
            </div>
            <div class="flex flex-col h-5/6 bg-white dark:bg-black border-solid border-gray border-4">
                <div class="flex h-1/6">
                    <div class="flex-1 text-left font-bold text-red-400">
                        <div class="text-3vw p-2">

                        </div>
                        <div class="text-1vw">
                        </div>
                    </div>
                    <div class="flex flex-col flex-1 text-right text-gray-500 text-1-5vw">
                        <div class="flex-1 mb-1">
                            Ziel 80
                        </div>
                        <div class="flex-1 mb-1">GD: 21.50</div>
                        <div class="flex-1"> HS: 40</div>
                    </div>
                </div>
                <div class="flex h-4/6 text-center text-10vw justify-center items-center font-bold">
                    43
                </div>
                <div class="flex flex-1 flex-col hidden">
                    <div class="flex flex-1 flex-row items-center">
                        <div class="w-1/6 font-bold text-2vw p-1">0</div>
                        <div class="flex flex-1 flex-row w-5/6">
                            <div class="flex text-3vw font-bold text-green-400"></div>
                            <div class="flex text-3vw font-bold text-red-400">IIIIIIIIIIIIIIIIII</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/5 bg-grey">
            <div data-reflex="dblclick->TableMonitorReflex#force_next_state" data-id="66"
                 class="flex flex-col h-1/6 items-center font-bold text-red-400 text-1-5vw p-2 text-center bg-white dark:bg-black"
                 data-controller="stimulus-reflex" data-action="dblclick->stimulus-reflex#__perform">
            </div>
            <div class="flex flex-col h-5/6 bg-gray-100 dark:bg-gray-800">
                <div class="flex flex-col h-2/6">
                    <div class="h-4/6 text-4vw font-bold text-center">2</div>
                    <div class="h-2/6 items-center text-1-5vw justify-center text-center">von 20</div>
                </div>
                <div class="flex flex-col h-3/6 bg-white dark:bg-black items -center ">
                    <div class="flex flex-1 items-center text-center text-1-5vw">Table 3</div>
                    <div class="flex flex-1 items-center text-center text-1-5vw">Runde 1</div>
                    <div class="flex flex-1 items-center text-center text-1-5vw">Group 1<br>Game 2-7</div>
                </div>
                <div class="flex flex-col items-center h-1/6">
                    <div class="flex h-2/3 flex-row space-x-3 rounded-full">
                        <div data-reflex="click->TableMonitorReflex#stop" data-id="66"
                             class="mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 hidden"
                             title="Stop" style="letter-spacing: -3px;" data-controller="stimulus-reflex"
                             data-action="click->stimulus-reflex#__perform">

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" width="16" height="16" viewBox="0 0 16 16"
                                 class="svg-red fill-current icon-xl text-red-400 inline-block" role="img"
                                 aria-labelledby="amz51jjwi5kv2gocquf8jgf9gzrlxj3o"><title
                                    id="amz51jjwi5kv2gocquf8jgf9gzrlxj3o">Icons/287 stop2</title>
                                <path fill="#9CA3AF" d="M2 2h12v12h-12z"></path>
                            </svg>

                        </div>
                        <div data-reflex="click->TableMonitorReflex#pause" data-id="66"
                             class="mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 hidden"
                             title="Pause" style="letter-spacing: -3px;" data-controller="stimulus-reflex"
                             data-action="click->stimulus-reflex#__perform">

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" width="16" height="16" viewBox="0 0 16 16"
                                 class="svg-red fill-current icon-xl text-red-400 inline-block" role="img"
                                 aria-labelledby="aqz85izuupcgsur3u7yldi2xpumwmo31"><title
                                    id="aqz85izuupcgsur3u7yldi2xpumwmo31">Icons/286 pause2</title>
                                <path fill="#9CA3AF" d="M2 2h5v12h-5zM9 2h5v12h-5z"></path>
                            </svg>

                        </div>
                        <div data-reflex="click->TableMonitorReflex#play" data-id="66"
                             class="mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 "
                             title="Play" style="letter-spacing: -3px;" data-controller="stimulus-reflex"
                             data-action="click->stimulus-reflex#__perform">

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" width="16" height="16" viewBox="0 0 16 16"
                                 class="svg-red fill-current icon-xl text-red-400 inline-block" role="img"
                                 aria-labelledby="a6r6lya64nxcn2pu9ekjueioohray52d"><title
                                    id="a6r6lya64nxcn2pu9ekjueioohray52d">Icons/285 play3</title>
                                <path fill="#9CA3AF" d="M3 2l10 6-10 6z"></path>
                            </svg>

                        </div>
                    </div>
                    <div class="flex h-1/3 font-bold text-2vw text-red-500"></div>
                </div>
            </div>
        </div>
        <div class="w-2/5 bg-yellow-200 dark:text-yellow-200 dark:bg-black">
            <div class="flex h-1/6 bg-white dark:bg-black items -center">
                <div class="p-2"></div>
                <div class="flex-nowrap text-2vw">Richter, Joachim</div>
            </div>
            <div class="flex flex-col h-5/6 bg-yellow-200 dark:text-yellow-200 dark:bg-black border-solid border-red-400 border-4">
                <div class="flex h-1/6">
                    <div class="flex flex-col flex-1 text-left text-gray-500 text-1-5vw">
                        <div class="flex-1 mb-1">
                            Ziel 80
                        </div>
                        <div class="flex-1 mb-1">GD: 41.00</div>
                        <div class="flex-1"> HS: 41</div>
                    </div>
                    <div class="flex-1 text-right font-bold text-red-400">
                        <div class="text-3vw p-2">
                            0
                        </div>
                        <div class="text-1vw">
                        </div>
                    </div>
                </div>
                <div class="flex h-4/6 text-center text-10vw justify-center items-center font-bold">
                    41
                </div>
                <div class="flex flex-1 flex-col hidden">
                    <div class="flex flex-1 flex-row items-center">
                        <div class="w-1/6 font-bold text-2vw p-1">0</div>
                        <div class="flex flex-1 flex-row w-5/6">
                            <div class="flex text-3vw font-bold text-green-400"></div>
                            <div class="flex text-3vw font-bold text-red-400">IIIIIIIIIIIIIIIIII</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex h-1/6 p-2 space-x-2 justify-center">
        <div class="mr-1 min-w-1/20 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400"
             title="Undo" style="letter-spacing: -3px;" data-reflex="click->TableMonitorReflex#undo" data-id="66"
             data-controller="stimulus-reflex" data-action="click->stimulus-reflex#__perform">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16"
                 height="16" viewBox="0 0 16 16" class="svg-red fill-current icon-lg text-gray-400 inline-block"
                 role="img" aria-labelledby="adeplpxscla1v5kmbq45xbbe3kj6nhad"><title
                    id="adeplpxscla1v5kmbq45xbbe3kj6nhad">Icons/104 undo2</title>
                <path fill="#9CA3AF"
                      d="M11.904 16c1.777-3.219 2.076-8.13-4.904-7.966v3.966l-6-6 6-6v3.881c8.359-0.218 9.29 7.378 4.904 12.119z"></path>
            </svg>

        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400"
             title="Subtract one from current Inning" data-reflex="click->TableMonitorReflex#minus_one" data-id="66"
             data-controller="stimulus-reflex" data-action="click->stimulus-reflex#__perform">
            -1
        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none  text-gray-400"
             title="Input Number">
            &nbsp;
        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400"
             title="Add one to current Inning" data-reflex="click->TableMonitorReflex#add_one" data-id="66"
             data-controller="stimulus-reflex" data-action="click->stimulus-reflex#__perform">
            +1
        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none  text-gray-400"
             title="Input Number">
            &nbsp;
        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400"
             title="Add ten to current Inning" data-reflex="click->TableMonitorReflex#add_ten" data-id="66"
             data-controller="stimulus-reflex" data-action="click->stimulus-reflex#__perform">
            +10
        </div>
        <div class="mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none  text-gray-400"
             title="Input Number">
            &nbsp;
        </div>
        <div class="mr-2 min-w-1/20 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none focus:outline-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400"
             title="Change Players" style="letter-spacing: -3px;" data-reflex="click->TableMonitorReflex#next_step"
             data-id="66" data-controller="stimulus-reflex" data-action="click->stimulus-reflex#__perform">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16"
                 height="16" viewBox="0 0 16 16" class="svg-red fill-current icon-lg text-gray-400 inline-block"
                 role="img" aria-labelledby="a39oyw48c7srtuxlxz5k7j9nkycix154"><title
                    id="a39oyw48c7srtuxlxz5k7j9nkycix154">Icons/302 loop</title>
                <path fill="#759EFF" d="M2 5h10v3l4-4-4-4v3h-12v6h2zM14 11h-10v-3l-4 4 4 4v-3h12v-6h-2z"></path>
            </svg>

        </div>
    </div>
</div>
