<h2>Spielergebnisse</h2>
<div class="flex space-x-20 p-4  dark:">
    <div class="col-lg-12">
        <table>
            <thead>
            <tr>
                <th>Game</th>
                <th>#</th>
                <th>PlayerA</th>
                <th>PlayerB</th>
                <th colspan=2>Points</th>
                <th colspan=2>Balls</th>
                <th colspan=2>Innings</th>
                <th colspan=2>GD</th>
                <th colspan=2>HS</th>
            </tr>
            </thead>
            <tbody>
            <form id="update_games" action="/en/tournament_monitors/335/update_games" accept-charset="UTF-8"
                  method="post"><input type="hidden" name="authenticity_token"
                                       value="/KBh8sddqHvrvc2JS0O6h/5FPiiISFmQ3+tJ4BRDz2iskSq+Nw40MLeyRzkGU97CqtB7otz6xcwJc1oumwhhZw=="/>
                <tr>
                    <td>Group 1<br/>Game 3-6</td>
                    <td>1</td>
                    <td>von Massow, Immo</td>
                    <td>Schmid-Werter, Karl</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 4-5</td>
                    <td>2</td>
                    <td>Balzer, Wolfgang</td>
                    <td>Horn, Klaus</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 2-7</td>
                    <td>3</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td>Richter, Joachim</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.0</td>
                    <td>0.0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 5-6</td>
                    <td>4</td>
                    <td>Horn, Klaus</td>
                    <td>Schmid-Werter, Karl</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 4-7</td>
                    <td>5</td>
                    <td>Balzer, Wolfgang</td>
                    <td>Richter, Joachim</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-3</td>
                    <td>6</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>von Massow, Immo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 2-4</td>
                    <td>7</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td>Balzer, Wolfgang</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-5</td>
                    <td>8</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>Horn, Klaus</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 6-7</td>
                    <td>9</td>
                    <td>Schmid-Werter, Karl</td>
                    <td>Richter, Joachim</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-7</td>
                    <td>10</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>Richter, Joachim</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 2-6</td>
                    <td>11</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td>Schmid-Werter, Karl</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 3-5</td>
                    <td>12</td>
                    <td>von Massow, Immo</td>
                    <td>Horn, Klaus</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 3-4</td>
                    <td>13</td>
                    <td>von Massow, Immo</td>
                    <td>Balzer, Wolfgang</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-6</td>
                    <td>14</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>Schmid-Werter, Karl</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 2-5</td>
                    <td>15</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td>Horn, Klaus</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 5-7</td>
                    <td>16</td>
                    <td>Horn, Klaus</td>
                    <td>Richter, Joachim</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 2-3</td>
                    <td>17</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td>von Massow, Immo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-4</td>
                    <td>18</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>Balzer, Wolfgang</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 1-2</td>
                    <td>19</td>
                    <td>Jaruschewski, Kurt</td>
                    <td>Ullrich, Dr. Gernot</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 3-7</td>
                    <td>20</td>
                    <td>von Massow, Immo</td>
                    <td>Richter, Joachim</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Group 1<br/>Game 4-6</td>
                    <td>21</td>
                    <td>Balzer, Wolfgang</td>
                    <td>Schmid-Werter, Karl</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>
