<%- content_for :javascript_code do -%>
  <script>
      $(document).ready(function () {
          $('#table_kinds').DataTable({
                  "stateSave": true,
              dom: 'Bfrtip',
              buttons: [
                  'copy', {
                      extend: 'csvHtml5',
                      title: 'TableKinds'
                  }, {
                      extend: 'excelHtml5',
                      title: 'TableKinds'
                  }, {
                      extend: 'pdfHtml5',
                      title: 'TableKinds'
                  }, {
                      extend: 'print',
                      title: 'TableKinds'
                  }
              ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [
                      [0, "desc"]
                  ],
                  "aoColumns": [
                      null,
                      null,
                      null,
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#table_kinds').data('source')
              }
          );
      });
  </script>
<%- end -%>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding-left: 5px;
    }
</style>
<h1>Listing Table Kinds</h1>

<table id="table_kinds" data-source="<%= table_kinds_url(format: 'json') %>" width="100%" style="margin: 0px; width: 50%;">
  <thead>
  <tr>
    <%- TableKind::COLUMN_NAMES.keys.each do |column_name| %>
      <!--      TODO FILTERS-->
      <th><%= column_name %></th>
    <%- end %>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Table kind', new_table_kind_path %>
