<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">New Discipline Tournament Plan</h1>
      <%= custom_link_to 'Cancel', discipline_tournament_plans_path, class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
      <%= render 'form', discipline_tournament_plan: @discipline_tournament_plan %>
    </div>
  </div>
</div>
