<div id="<%= dom_id table_local %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Tpl ip address</p>
    <%= table_local.tpl_ip_address %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Ip address</p>
    <%= table_local.ip_address %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Table</p>
    <%= table_local.table_id %>
  </div>
</div>
