<% content_for :javascript_code do %>
  <script>
      $(document).ready(function () {
          $('#players').DataTable({
                  "stateSave": true,
              dom: 'Bfrtip',
              buttons: [
                  'copy', {
                      extend: 'csvHtml5',
                      title: 'Players'
                  }, {
                      extend: 'excelHtml5',
                      title: 'Players'
                  }, {
                      extend: 'pdfHtml5',
                      title: 'Players'
                  }, {
                      extend: 'print',
                      title: 'Players'
                  }
              ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [
                      [0, "desc"]
                  ],
                  "aoColumns": [
                      null,
                      null,
                      null,
                      null,
                      null,
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#players').data('source')
              }
          );
      });
  </script>
<% end %>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding-left: 5px;
    }
</style>

<h1>Listing Players</h1>

<table id="players" data-source="<%= players_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <th>Player ID</th>
    <th>Club</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Title</th>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  <%# @players.includes(:club).each do |player| %>
  <!--      <tr>-->
  <!--        <td><%#= link_to player.ba_id, player_path(player) %></td>-->
  <!--        <td><%#= link_to player.club.shortname, club_path(player.club) if player.andand.club.present? %></td>-->
  <!--        <td><%#= player.lastname %></td>-->
  <!--        <td><%#= player.firstname %></td>-->
  <!--        <td><%#= player.title %></td>-->
  <!--        <td><%#= link_to 'Show', player %></td>-->
  <!--        <td><%#= link_to 'Edit', edit_player_path(player) %></td>-->
  <!--        <td><%#= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  <!--      </tr>-->
  <%# end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
