<select
  id="club-select"
  name="config[club_id]"
  class="field-unit__input"
>
  <% clubs.each do |club| %>
    <option value="<%= club.id %>" <%= 'selected' if club.id == Carambus.config.club_id.to_i %>>
      <%= club.name %>
    </option>
  <% end %>
</select>
