<select id="location-select" class="field-unit__input">
  <% locations.each do |loc| %>
    <% id = loc.is_a?(Array) ? loc[1] : loc.id %>
    <% name = loc.is_a?(Array) ? loc[0] : loc.name %>
    <option value="<%= id %>" <%= 'selected' if id.to_s == config.location_id.to_s %>>
      <%= name %>
    </option>
  <% end %>
</select>
