<select
  id="location-select"
  name="config[location_id]"
  class="field-unit__input"
>
  <% locations.each do |loc| %>
    <option value="<%= loc.id %>" <%= 'selected' if loc.id == Carambus.config.location_id.to_i %>>
      <%= loc.name %>
    </option>
  <% end %>
</select>
