.text-20vw {
  font-size: 20vw;
  line-height: 1;
}

.text-10vw {
  font-size: 10vw;
  line-height: 1;
}

.text-3vw {
  font-size: 3vw;
  line-height: 1;
}

.text-4vw {
  font-size: 4vw;
  line-height: 1;
}

.text-8vw {
  font-size: 8vw;
  line-height: 1;
}

.text-6vw {
  font-size: 6vw;
  line-height: 1;
}

.text-10vw {
  font-size: 10vw;
  line-height: 1;
}

.text-2vw {
  font-size: 2vw;
  line-height: 1;
}

.text-1-5vw {
  font-size: 1.5vw;
  line-height: 1;
}

.text-1vw {
  font-size: 1vw;
  line-height: 1;
}

@layer base {
  select, input {
    @apply text-black;
  }
  p {
    @apply pb-4;
  }
  h2 {
    @apply text-xl;
  }
}
