---
http_interactions:
- request:
    method: post
    uri: https://e12112e2454d41f1824088919da39bc0.club-cloud.de/admin/report/showLeagueList.php
    body:
      encoding: US-ASCII
      string: fedId=20&branchId=6&subBranchId=1&seasonId=8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Ws-Origin:
      - available
      X-Ws-Ratelimit-Limit:
      - '1000'
      X-Ws-Ratelimit-Remaining:
      - '998'
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<title>Massen&auml;nderung Liga-Spielplan
        - Liga-Auswahl</title>\r\n<meta charset=\"utf-8\"/>\r\n<link rel=\"stylesheet\"
        href=\"../../00styles/billardStyle.css\" type=\"text/css\">\r\n<script type='text/javascript'>
        \ function goOut(){    document.forms[0].submit();  }</script></head><body
        onLoad='goOut()'><form name='billard' method='post' action='https://e12112e2454d41f1824088919da39bc0.club-cloud.de'><input
        type='hidden' name='errMsg' value='Die Sitzung ist ausgelaufen. Bitte neu
        anmelden.'><input type='hidden' name='errMsgNew' value='Die Sitzung ist ausgelaufen.
        Bitte neu anmelden.'></form></body></html>"
  recorded_at: Fri, 10 Apr 2026 18:38:41 GMT
recorded_with: VCR 6.4.0
