.tab-active {
  background: linear-gradient(116deg, theme('colors.info.600') 22%, theme('colors.info.500') 90%);
  border-radius: 4px 4px 0px 0px;

  a {
    @apply text-white;

    &:hover,
    &:focus {
      background: linear-gradient(308deg, theme('colors.info.600') 24%, theme('colors.info.500') 80%);
      border-radius: 4px 4px 0px 0px;

      @apply text-gray-300;
    }
  }
}
