<div id="<%= dom_id upload %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Filename</p>
    <%= upload.filename %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= upload.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Position</p>
    <%= upload.position %>
  </div>
</div>
