= select_tag :club_id, options_for_select(@clubs.all.map{|r| ["#{r.shortname} - #{r.region.shortname}", r.id] }, Setting.instance.club_id), name: "club_id", id: "club-selector", onchange: "clubChange(this);"
