<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Regions</h1>

    <% if @regions.any? %>
      <div class="flex flex-row items-center">
        <div class="flex w-full">
          <form action="/regions" method="get" target="table_wrapper" data-reflex-serialize-form="true" class="w-full">
            <input
              type="search"
              name="sSearch"
              id="sSearch"
              data-reflex="input->SearchReflex#perform"
              data-reflex-permanent="search"
              placeholder="Search"
              data-controller="stimulus-reflex"
              data-action="input->stimulus-reflex#__perform"
              class="w-full px-4 py-2 rounded-md border border-gray-300 bg-white text-gray-800 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-200 dark:placeholder-gray-400"
            >
          </form>
        </div>
        <div
          id="helpSearch"
          class="flex pl-3 cursor-pointer"
          data-controller="tooltip"
          data-tippy-content="Search Field - z.B.: info region:nbv season:2022/2023"
          data-tippy-delay="0"
          data-tippy-arrow="true"
          data-tippy-size="regular"
          data-tippy-animation="fade"
        >
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 20 20"
               class="fill-current icon-sm text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
               role="img"
               aria-labelledby="search-info-icon">
            <title id="search-info-icon">Information Icon</title>
            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"></path>
          </svg>
        </div>
      </div>
      <%= button_to('New Region', new_region_path, disabled: !current_user&.admin?, class: "btn btn-primary") if current_user&.admin? %>
    <% end %>
  </div>

  <% if @regions.any? %>
    <div id="table_wrapper">
      <%= render partial: 'regions_table' %>
    </div>
  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
            <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
      </svg>
      <div class="flex-1 text-center">

        <%= button_to 'New Region', new_region_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
