<% content_for :javascript_in_head do %>
  <script>
      $(document).ready(function () {
          $('#season_participations').dataTable({
                  "stateSave": true,
              dom: 'Bfrtip',
              buttons: [
                  'copy', {
                      extend: 'csvHtml5',
                      title: 'SeasonParticipations'
                  }, {
                      extend: 'excelHtml5',
                      title: 'SeasonParticipations'
                  }, {
                      extend: 'pdfHtml5',
                      title: 'SeasonParticipations'
                  }, {
                      extend: 'print',
                      title: 'SeasonParticipations'
                  }
              ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [
                      [0, "desc"]
                  ],
                  "aoColumns": [
                      null,
                      null,
                      null,
                      null,
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#season_participations').data('source')
              }
          );
      });
  </script>
<% end %>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    th, td {
        padding-left: 5px;
    }
</style>

<h1>Listing Season Participations</h1>

<table id="season_participations" data-source="<%= season_participations_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <% SeasonParticipation::COLUMN_NAMES.keys.each do |column_name| %>
      <!--      TODO FILTERS-->
      <th><%= column_name %></th>
    <% end %>
    <th width="100px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Season participation', new_season_participation_path %>
