<h1>New Location</h1>

<%= render 'form' %>

<%- if @location.club.present? %>
  <%= link_to 'Back to Club', club_path(@location.club) %>
<%- else %>
  <%= link_to 'Back', locations_path %>
<%- end %>

