<!--suppress RubyScope, RubyScope, RubyScope -->
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.js"></script>
<script type="text/javascript">
  window.onload = function () {
    var tabbed_elements = document.querySelectorAll('a[tabindex="1"]')
    var tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }
    if (tabbed_keys.length > 0) {
      var current_element = tabbed_keys[0]
      document.getElementById(current_element).focus();
    }
  };
  // backspace, tab, clear, enter, return, esc, escape, space, up, down, left, right, home, end, pageup, pagedown, del, delete and f1 through f19
  hotkeys('*', function (event, handler) {
// Prevent the default refresh event under WINDOWS system

    //console.log(hotkeys.getPressedKeyCodes());
    //alert('you pressed ' + hotkeys.getPressedKeyCodes());
    var keyMap = {
      33: "key_a",
      37: "key_a",
      34: "key_b",
      39: "key_b",
      66: "key_c",
      38: "key_c",
      116: "key_d",
      27: "key_d",
      40: "key_d",
    }
    var tabbed_elements = document.querySelectorAll('a[tabindex="1"]')

    var tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }

    var current_element = document.activeElement.getAttribute("id")
    console.log("active: " + current_element);
    if (current_element == null) {
      current_element = tabbed_keys[0];
      console.log("active now: " + current_element);
      document.getElementById(current_element).focus();
    }

    if (event.keyCode in keyMap) {
      var key = keyMap[event.keyCode];
      if (key == "key_c") {
        window.history.back();
      }
      if (key == "key_b") {
        var current_element = document.activeElement.getAttribute("id")
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i + 1;
            if (ff >= tabbed_keys.length) ff = 0;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            document.getElementById(tabbed_keys[ff]).focus();
            break;
          }
        }
      }
      if (key == "key_a") {
        var current_element = document.activeElement.getAttribute("id");
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i - 1;
            if (ff < 0) ff = tabbed_keys.length - 1;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            document.getElementById(tabbed_keys[ff]).focus();
            break;
          }
        }
      }
      if (key == "key_d") {
        console.log("activate: " + document.activeElement.getAttribute("id"));
        document.activeElement.click();
      }
    }
    event.preventDefault();
    return true
  });
</script>
<div class="p-14 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('/Karambol.jpg')">
  <h1 class="flex text-gray-200 "><%= t('select_tournament_table') %></h1>

  <%- if @location.tournaments.present? %>
    <%- @location.tournaments.joins(:tournament_monitor).each do |tournament| %>
      <h1 class="flex text-yellow-500 mt-10 "><%= tournament.title %></h1>
      <div class="flex items-center mt-10 flex-row h-1/8 space-x-20">
        <%- if tournament.manual_assignment? %>
          <%- tournament_tables = tournament.tournament_location.tables.joins(:table_kind => :disciplines).where(disciplines: { id: tournament.discipline_id }).each do |table| %>
            <%= link_to table.name, placement_location_path(@location, tournament_id: tournament.id, table_id: table.id), method: :post, data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-4vw p-2 lg:mr-4 mr-0 lg:mb-0 mb-4", id: "table_monitor_#{table.id}", tabindex: 1 %>
          <%- end %>
        <%- else %>
          <%- tournament.tournament_monitor.table_monitors.order(:name).each do |table_monitor| %>
            <%= link_to table_monitor.display_name, table_monitor_path(table_monitor), data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-3vw p-1 lg:mr-4 mr-0 lg:mb-0 mb-4", id: "table_monitor_#{table_monitor.id}", tabindex: 1 %>
          <% end %>
        <%- end %>
    <%- end %>
    </div>
  <% end %>
</div>
